<%- include('../partials/layout', { title: title, body: `
  <h2 class="mb-4">Admin Dashboard</h2>

  <div class="row g-3">
    <div class="col-md-4">
      <div class="card text-bg-primary">
        <div class="card-body">
          <h5 class="card-title">Korisnici</h5>
          <p class="card-text fs-4"><%= stats.users %></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-bg-success">
        <div class="card-body">
          <h5 class="card-title">Ispovijesti</h5>
          <p class="card-text fs-4"><%= stats.confessions_total %></p>
          <ul class="small mb-0">
            <% stats.confessions_by_status.forEach(s => { %>
              <li><%= s.status %>: <%= s.count %></li>
            <% }) %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-bg-warning">
        <div class="card-body">
          <h5 class="card-title">Komentari</h5>
          <p class="card-text fs-4"><%= stats.comments %></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-bg-info">
        <div class="card-body">
          <h5 class="card-title">Lajkovi</h5>
          <p class="card-text fs-4"><%= stats.likes %></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-bg-dark">
        <div class="card-body">
          <h5 class="card-title">Favoriti</h5>
          <p class="card-text fs-4"><%= stats.favorites %></p>
        </div>
      </div>
    </div>
  </div>
` }) %>
